body {
    width: 100%;
    min-height: 100vh;
    padding: 1vh;
    background: linear-gradient(180deg, #252525 0%, #010407 100%);
    color: white;

    .landing > * {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 14px;
        transition-duration: 1s;
    }

    .landing {
        display: grid;
        width: 100%;
        height: 98vh;
        gap: 5px;
        grid-template-areas:
            "introduction introduction introduction introduction introduction"
            "pokedex pokedex pokedex linkedin linkedin"
            "pokedex pokedex pokedex language language"
            "github github contact contact contact"
            "skills skills skills switcher chatbot"
            "skills skills skills spotify spotify"
            "next next next next next";
        grid-template-rows: 20vh 15vh 15vh 15vh 7.5vh 15vh 7.5vh;
        grid-template-columns: 7.5vh 7.5vh 1fr 7.5vh 7.5vh;
        
        .introduction {
            grid-area: introduction;
            background: linear-gradient(180deg, #041D35 0%, #010407 100%);
            position: relative;
            overflow: hidden;

            img {
                position: absolute;
                right: -15px;
                bottom: 0;
                max-width: 28vh;
            }

            &__text {
                width: 60%;
                background: none;

                &__title {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    background: none;

                    .black {
                        color: #00D1FF;;
                        background: none;
                    }
                }

                &__role {
                    color: #bebcbc;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    background: none;
                }

                &__description {
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background: none;
                }
            }
        }

        .github {
            grid-area: github;
            background: linear-gradient(180deg, #494949 0%, #0D0D0D 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .github-logo {
                width: 100%;
                transition-duration: 1s;
            }

            .arrow {
                position: absolute;
                width: 20%;
                top: 10px;
                right: 5px;
                transition-duration: 1s;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            &:hover {
                transition-duration: 1s;

                .github-logo {
                    transform: scale(1.2);
                }
    
                .arrow {
                    transform: scale(0.5);
                } 
            }
        }

        .skills {
            grid-area: skills;
            background: linear-gradient(180deg, #041D35 0%, #010407 100%);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 20px;
            row-gap: 15px;

            &__language {
                max-width: 15%;
                height: auto;
                transition-duration: 1s;
            }

            .angular {
                max-width: 20%;
            }

            .css {
                max-width: 12%;
                transform: translateY(-6%);
            }
            .html {
                max-width: 17%;
                transform: translateY(-6%);
            }
            .mongo {
                border-radius: 10px;
            }

            &:hover {
                transition-duration: 1s;

                .skills__language {
                    transform: scale(1.2);
                }
            }
        }

        .projects {
            grid-area: pokedex;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/EBGz.gif");
            background-size: cover;
            position: relative;
            display: flex;


            .arrow {
                width: 8%;
                transition-duration: 1s;
                position: absolute;
                top: 10px;
                right: 5px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            &__title {
                font-size: 15px;
                transition-duration: 1s;
                font-weight: bold;
            }

            &:hover {
                transition-duration: 1s;

                .projects__title {
                    font-size: 20px;
                }
    
                .arrow {
                    transform: scale(0.5);
                } 
            }
        }

        .linkedin {
            grid-area: linkedin;
            background: linear-gradient(180deg, #0A66C2 0%, #052544 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .linkedin-logo {
                width: 80%;
                transition-duration: 1s;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            .arrow {
                width: 20%;
                transition-duration: 1s;
                position: absolute;
                top: 10px;
                right: 5px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            &:hover {
                transition-duration: 1s;

                .linkedin-logo {
                    transform: scale(1.2);
                }
    
                .arrow {
                    transform: scale(0.5);
                } 
            }

        }

        .language {
            grid-area: language;
            background: linear-gradient(180deg, #494949 0%, #0D0D0D 100%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__content {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .language-current {
                    color: lightgrey;
                    font-size: 40px;
                    font-weight: bold;
                }

                .language-nav {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    
                    span {
                        font-size: 10px;
                        font-weight: bold;
                        color: grey;
                    }

                    .language-en {
                        color: lightgray;
                    }
                }
            }
        }

        .contact {
            grid-area: contact;
            background: linear-gradient(180deg, #041D35 0%, #010407 100%);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            button {
                border-radius: 20px;
                height: 40px;
                min-width: 210px;
                background: #FFF;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border: none;
                color: #272424;
                text-align: center;
                font-family: "Roboto", sans-serif;
                font-size: 11px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            span {
                text-align: center;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background: none;
            }
        }

        .spotify {
            grid-area: spotify;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/música-sonido.gif");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &__image {
                width: 80%;
                transition-duration: 1s;
            }

            .arrow {
                position: absolute;
                transition-duration: 1s;
                width: 20%;
                top: 10px;
                right: 5px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            &:hover {
                transition-duration: 1s;

                .spotify__image {
                    transform: scale(1.2);
                }
    
                .arrow {
                    transform: scale(0.5);
                } 
            }
        }

        .switcher {
            grid-area: switcher;
            background: linear-gradient(180deg, #041D35 0%, #010407 100%);
            display: flex;
            justify-content: center;
            align-items: center;

            &__image {
                width: 100%;
                transition-duration: 1s;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }

            &:hover {
                transition-duration: 1s;

                .switcher__image {
                    transform: scale(1.2);
                }
            }
        }

        .chatbot {
            grid-area: chatbot;
            background: linear-gradient(180deg, #041D35 0%, #010407 100%);
        }

        .next {
            grid-area: next;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;

            .bottom-arrow {
                width: 30px;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
            }
        }
    }
}
