* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 1vh;
  background: linear-gradient(180deg, #252525 0%, #010407 100%);
  color: white;
}
body main > * {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 14px;
}
body main {
  display: grid;
  width: 100%;
  height: 98vh;
  gap: 5px;
  grid-template-areas: "introduction introduction introduction introduction introduction" "pokedex pokedex pokedex linkedin linkedin" "pokedex pokedex pokedex language language" "github github contact contact contact" "switcher chatbot skills skills skills" "spotify spotify skills skills skills";
  grid-template-rows: 20vh 15vh 15vh 15vh 7.5vh 1fr;
  grid-template-columns: 7.5vh 7.5vh 1fr 7.5vh 7.5vh;
}
body main .introduction {
  grid-area: introduction;
  background: linear-gradient(180deg, #041D35 0%, #010407 100%);
  position: relative;
  overflow: hidden;
}
body main .introduction img {
  position: absolute;
  right: -15px;
  bottom: 0;
  max-width: 28vh;
}
body main .introduction__text {
  width: 60%;
  background: none;
}
body main .introduction__text__title {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}
body main .introduction__text__title .black {
  color: #00D1FF;
  background: none;
}
body main .introduction__text__role {
  color: #bebcbc;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: none;
}
body main .introduction__text__description {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
}
body main .github {
  grid-area: github;
  background: linear-gradient(180deg, #494949 0%, #0D0D0D 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main .github .github-logo {
  width: 100%;
}
body main .github .arrow {
  position: absolute;
  width: 20%;
  top: 10px;
  right: 5px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
}
body main .skills {
  grid-area: skills;
  background: linear-gradient(180deg, #010407 0%, #041D35 100%);
}
body main .projects {
  grid-area: pokedex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/EBGz.gif");
  background-size: cover;
  position: relative;
}
body main .projects .arrow {
  width: 8%;
  position: absolute;
  top: 10px;
  right: 5px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
}
body main .projects__title {
  font-size: 15px;
  font-weight: bold;
}
body main .linkedin {
  grid-area: linkedin;
  background: linear-gradient(180deg, #0A66C2 0%, #052544 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body main .linkedin .linkedin-logo {
  width: 80%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
}
body main .linkedin .arrow {
  width: 20%;
  position: absolute;
  top: 10px;
  right: 5px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg) brightness(160%) contrast(102%);
}
body main .language {
  grid-area: language;
  background: linear-gradient(180deg, #494949 0%, #0D0D0D 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .language__content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .language__content .language-current {
  color: lightgrey;
  font-size: 40px;
  font-weight: bold;
}
body main .language__content .language-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
body main .language__content .language-nav span {
  font-size: 10px;
  font-weight: bold;
  color: grey;
}
body main .language__content .language-nav .language-en {
  color: lightgray;
}
body main .contact {
  grid-area: contact;
  background: linear-gradient(180deg, #010407 0%, #041D35 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
body main .contact button {
  border-radius: 20px;
  height: 40px;
  width: 90%;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  color: #272424;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
body main .contact span {
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
}
body main .spotify {
  grid-area: spotify;
  background: linear-gradient(180deg, #010407 0%, #041D35 100%);
}
body main .switcher {
  grid-area: switcher;
  background: linear-gradient(180deg, #010407 0%, #041D35 100%);
}
body main .chatbot {
  grid-area: chatbot;
  background: linear-gradient(180deg, #010407 0%, #041D35 100%);
}/*# sourceMappingURL=styles.css.map */